<div>
    <h1>Welcome to Skiller!</h1>

   <div style='width: 800px'>
        <img style='width: 300px' src="https://image.flaticon.com/icons/png/512/862/862528.png">
        <br>
        <h3>Learn Skills for your dream job! 🚀</h3>
    </div>    
</div>