<div>
    <h1> Welcome to your Skiller homepage, <%= @user.username %>! </h1>
    
    <%= render @user.courses %>
     
    <div style='width: 300px'>
    <img style='width: 200px' src="https://image.flaticon.com/icons/png/512/862/862528.png">
       <br><br>
       <h3>Start learning new skills NOW!🔥 </h3>
       <br>
          <%= button_to "Add Skills", new_skill_path %> 
          <br>
          <%= button_to "Add Courses", new_course_path %>
    </div>
</div>